@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap");

  html,
  body,
  .wrapper {
    @apply h-full;
  }

  /* [slug].js */
  strong {
    @apply font-bold;
  }
  p {
    @apply mb-4;
  }
  article p:not(.group-people *):not(.client-group-button *):not(.info-box *),
  article ul {
    @apply font-light text-lg;
  }
  article p a,
  article h2 a {
    @apply border-b-2 bg-white text-green;
  }
  article ul {
    @apply list-disc pl-8 font-light;
  }
  blockquote {
    text-indent: -0.5em;
  }

  .main-slider.swiper-container,
  section.info-box,
  section.quote-box,
  .full-bleed {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
  .main-slider .swiper-button-prev,
  .main-slider .swiper-button-next,
  .main-slider .swiper-button-disabled,
  .slider-stories .swiper-button-prev,
  .slider-stories .swiper-button-next,
  .slider-stories .swiper-button-disabled {
    @apply text-white hover:text-green;
  }
  .slider-stories .swiper-pagination-fraction,
  .slider-stories .swiper-pagination-custom,
  .slider-stories .swiper-pagination-bullets {
    @apply bottom-12;
  }
  .main-slider .swiper-pagination-bullet,
  .main-slider .swiper-pagination-bullet-active {
    @apply bg-white;
  }
  .slider-stories .swiper-pagination-bullet,
  .slider-stories .swiper-pagination-bullet-active {
    @apply bg-green;
  }
}
