@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  .wrapper {
    @apply h-full;
  }

  /* [slug].js */
  strong {
    @apply font-bold;
  }
  p {
    @apply mb-4;
  }
  /* article section {
    @apply mb-8;
  } */
  article p:not(.group-people *):not(.client-group-button *):not(.article-card *):not(.info-box *),
  article ul,
  article ul li,
  .rich-text p:not(.client-group-button *),
  .rich-text ul,
  .rich-text ul li {
    @apply font-light text-lg;
  }
  article p a,
  article h2 a,
  .rich-text p a,
  .rich-text h2 a {
    @apply border-b-2 bg-white text-green;
  }
  .footer-info a {
    @apply border-b text-white;
  }
  article ul, 
  .rich-text ul {
    @apply list-disc pl-12 font-light;
  }
  blockquote {
    text-indent: -0.5em;
  }
  .section-margin {
    @apply mx-4 xs:mx-6 md:mx-8;
  }
  .section-padding {
    @apply px-4 xs:px-6 md:px-8;
  }

  .block-content, .home-content, .donate-content, .page-title {
    display: grid;
    grid-template-columns:
      [full-start] 1fr [wrapper-start] minmax(0, 768px) [wrapper-end] 1fr [full-end];

    /* Optional gap */
    /* column-gap: var(--pad, 1rem); */
  }

  .block-content > *, .home-content > *, .donate-content > *, .page-title > * {
    grid-column: wrapper;
  }

  .block-content > .full-width, .home-content > .full-width, .donate-content > .full-width {
    grid-column: full;
  }

  .main-slider .swiper-button-prev,
  .main-slider .swiper-button-next,
  .main-slider .swiper-button-disabled,
  .slider-stories .swiper-button-prev,
  .slider-stories .swiper-button-next,
  .slider-stories .swiper-button-disabled {
    @apply text-white hover:text-green;
  }
  .slider-stories .swiper-pagination-fraction,
  .slider-stories .swiper-pagination-custom,
  .slider-stories .swiper-pagination-bullets {
    @apply bottom-12;
  }
  .main-slider .swiper-pagination-bullet,
  .main-slider .swiper-pagination-bullet-active {
    @apply bg-white;
  }
  .slider-stories .swiper-pagination-bullet,
  .slider-stories .swiper-pagination-bullet-active {
    @apply bg-green;
  }
}
